<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Click below to login</h1>
        <h2>A new account will be created if not present in data store</h2>
        <p><a href="/oauth2">Start flow!</a></p>
    </div>
</main>

<% include ../partials/scripts %>
</body>
</html>