<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Privacy Policy</h1>
        <p>A privacy policy would go here if this was real</p>
    </div>
</main>

<% include ../partials/scripts %>
</body>
</html>