<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <p>Token: <%= token %></p>
    </div>
</main>

<% include ../partials/scripts %>
</body>
</html>